<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('owd_logo.png' , size: '185x185'), "/" %>
  </header>

  <div class="items-sell-main">
    <h2 class="items-sell-title">新しく施設を登録</h2>
    <div class="d-grid gap-2 col-6 mx-auto">
      <%=link_to '施設登録画面へ', new_facility_path, class:"btn btn-outline-info" %>
    </div>

  <div style="height: 50px;"></div>

    <h2 class="items-sell-title">登録済み施設一覧</h2>
    ※ここに一覧表示　＋　選択して投稿へリンクするボタン※
  </div>

  <%= render "shared/footer_blue" %>
</div>
